
<div id="admin">
    <h2>Administrador !</h2>
    <hr>
    <br/>
    <br/>
    <div>
        <!-- PESSOA -->
        <form> 
            <h2>Pessoa</h2>
            <h3>{{$root.msgPessoa}}</h3>
            <div class="jumbotron"> 
                <li style="color: royalblue">Listar Todos => @GET - Url[ site/rest/pessoa/ ]</li> 
                <li style="color: royalblue">Busca por ID => @GET - Url[ site/rest/pessoa/{id} ]</li> 
                <li style="color: teal">Inserir Pessoa => @POST - Url[ site/rest/pessoa/ ]</li> 
                <li style="color: yellowgreen">Salvar Pessoa => @PUT - Url[ site/rest/pessoa/ ]</li> 
                <li style="color: tomato">Deletar Pessoa => @DELETE - Url[ site/rest/pessoa/{id} ]</li> 
                <br/>
                <button class="btn btn-success" ng-click="carregarPessoa()">Carregar Json</button>
                <br/>                      
                <br/>                      
                <textarea style="width: 100%;height: 250px;color: royalblue;font-family: sans-serif">
                        {{pessoaPagina}}
                </textarea> 
                <br/>                      
                <br/>
                <div ng-show="pessoaPagina.length > 0"> 
                    <div ng-include="'pages/pessoas.html'"></div>
                </div>
            </div>                
        </form>
    </div> 
    <!-- USUARIO -->
    <div>
        <form> 
            <h2>Usuario</h2>
            <h3>{{$root.msgUsuario}}</h3>
            <div class="jumbotron"> 
                <li style="color: royalblue">Listar Todos => @GET - Url[ site/rest/usuario/ ]</li> 
                <li style="color: royalblue">Busca por ID => @GET - Url[ site/rest/usuario/{id} ]</li> 
                <li style="color: royalblue">Valida Senha => @GET - Url[ site/rest/usuario/{usr}/{sh} ]</li> 
                <li style="color: teal">Inserir Usuario => @POST - Url[ site/rest/usuario/ ]</li> 
                <li style="color: yellowgreen">Salvar Usuario => @PUT - Url[ site/rest/usuario/ ]</li> 
                <li style="color: tomato">Deletar Usuario => @DELETE - Url[ site/rest/usuario/{id} ]</li> 
                <br/>
                <button class="btn btn-success" ng-click="carregarUsuario()">Carregar Json</button>
                <br/>                      
                <br/>                      
                <textarea style="width: 100%;height: 250px;color: royalblue;font-family: sans-serif">
                        {{usuarioPagina}}
                </textarea> 
                <br/>                      
                <br/>
                <div ng-show="usuarioPagina.length > 0"> 
                    <div ng-include="'pages/usuarios.html'"></div>
                </div>
            </div>
        </form>
    </div>
    <!-- CONTEUDO -->
    <div>
        <form> 
            <h2>Conteudo</h2>
            <h3>{{$root.msgConteudo}}</h3>
            <div class="jumbotron"> 
                <li style="color: royalblue">Listar Todos => @GET - Url[ site/rest/conteudo/ ]</li> 
                <li style="color: royalblue">Busca por ID => @GET - Url[ site/rest/conteudo/{id} ]</li> 
                <li style="color: teal">Inserir Conteudo => @POST - Url[ site/rest/conteudo/ ]</li> 
                <li style="color: yellowgreen">Salvar Conteudo => @PUT - Url[ site/rest/conteudo/ ]</li> 
                <li style="color: tomato">Deletar Conteudo => @DELETE - Url[ site/rest/conteudo/{id} ]</li> 
                <br/>
                <button class="btn btn-success" ng-click="carregarConteudo()">Carregar Json</button>
                <br/>                      
                <br/>                      
                <textarea style="width: 100%;height: 250px;color: royalblue;font-family: sans-serif">
                        {{conteudoPagina}}
                </textarea> 
                <br/>                      
                <br/>
                <div ng-show="conteudoPagina.length > 0"> 
                    <div ng-include="'pages/conteudo.html'"></div>
                </div>
            </div>
        </form>
    </div>
    <!-- CURSO -->
    <div>
        <form> 
            <h2>Curso</h2>
            <h3>{{$root.msgCurso}}</h3>
            <div class="jumbotron"> 
                <li style="color: royalblue">Listar Todos => @GET - Url[ site/rest/curso/ ]</li> 
                <li style="color: royalblue">Busca por ID => @GET - Url[ site/rest/curso/{id} ]</li> 
                <li style="color: teal">Inserir Curso => @POST - Url[ site/rest/curso/ ]</li> 
                <li style="color: yellowgreen">Salvar Curso => @PUT - Url[ site/rest/curso/ ]</li> 
                <li style="color: tomato">Deletar Curso => @DELETE - Url[ site/rest/curso/{id} ]</li> 
                <br/>
                <button class="btn btn-success" ng-click="carregarCurso()">Carregar Json</button>
                <br/>                      
                <br/>                      
                <textarea style="width: 100%;height: 250px;color: royalblue;font-family: sans-serif">
                        {{cursoPagina}}
                </textarea> 
                <br/>                      
                <br/>
                <div ng-show="cursoPagina.length > 0"> 
                    <div ng-include="'pages/curso.html'"></div>
                </div>
            </div>
        </form>
    </div>
      <!-- MATRICULA -->
    <div>
        <form> 
            <h2>Matricula</h2>
            <h3>{{$root.msgMatricula}}</h3>
            <div class="jumbotron"> 
                <li style="color: royalblue">Listar Todos => @GET - Url[ site/rest/matricula/ ]</li> 
                <li style="color: royalblue">Busca por ID => @GET - Url[ site/rest/matricula/{id} ]</li> 
                <li style="color: royalblue">Busca por Aluno => @GET - Url[ site/rest/matricula/aln/{id} ]</li> 
                <li style="color: teal">Inserir Matricula => @POST - Url[ site/rest/matricula/ ]</li> 
                <li style="color: yellowgreen">Salvar Matricula => @PUT - Url[ site/rest/matricula/ ]</li> 
                <li style="color: tomato">Deletar Matricula => @DELETE - Url[ site/rest/matricula/{id} ]</li> 
                <br/>
                <button class="btn btn-success" ng-click="carregarMatricula()">Carregar Json</button>
                <br/>                      
                <br/>                      
                <textarea style="width: 100%;height: 250px;color: royalblue;font-family: sans-serif">
                        {{matriculaPagina}}
                </textarea> 
                <br/>                      
                <br/>
                <div ng-show="matriculaPagina.length > 0"> 
                    <div ng-include="'pages/matricula.html'"></div>
                </div>
            </div>
        </form>
    </div>






</div>               

